[Unit]
Description=Send HTTP POST request to webhook.site

[Service]
Type=oneshot
ExecStart=/usr/bin/curl -X POST https://webhook.site/19b100ae-5ed6-4dab-88c7-b74a7346324d -d 'Hello from cvasa's Yocto systemd service'

[Install]
WantedBy=multi-user.target
